body{
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  font-family: Monospace;
}
#clock{
  display: block;
  font-size: 3rem;
}
#day{
  margin-bottom: 350px;
  font-size: 1.2rem;
}
#date{
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container{
  color: #9a5f27;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-weight: bold;
  user-select: none;
  flex-direction: column;
}
.frame{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}